{% extends 'base.html.twig' %}

{% block title %} Exchange {% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('exchange') }}
 {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-18 m-auto">
                <div class="card mt-5">

                    <div class="card-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-error">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {{ form(exchange_form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
