{% extends 'base.html.twig' %}
{% block title %} Exchanges {% endblock %}
{% block body %}
    <table class="table table-hover table-sm ">
        <thead>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        </thead>
        <tbody>
        {% for exchange in exchanges %}
            <tr>
                <td><b>{{ exchange.amount }}</b>{{ exchange.primaryCurrency.getCode|upper }}</td>
                <td><b>{{ exchange.amountAfterExchange }}</b>{{ exchange.targetCurrency.getCode|upper }}</td>
                <td>{{ exchange.date|date("d-m-Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
